[user]
	name = wangwenyuan
	email = 294162304@qq.com
[pull]
	rebase = false
[core]
	excludesfile = /Users/edy/.gitignore
	editor = nvim
[init]
	defaultBranch = main
[url "https://github.com/"]
	insteadOf = git://github.com/
